body{
    background-image: url("fondo1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;          /* Firefox */
    image-rendering: -o-crisp-edges;            /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
    -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
}
h1,h2,p{
    background-position: center;
    color: aliceblue;
    background-color: black;
}

#button-count{
    background-color: black;
    color: aliceblue;
}
.center{
    text-align: center;
    margin-top: 50px;
}